<footer class="site-footer">
	<div class="wrapper">
		<div class="content-block">
			<ul class="social-media-list">
				{% if site.github_username %}
				<li>
					<a class="link icon-only external" target="_blank" href="https://github.com/{{ site.github_username }}">
						<i class="icon icon-github"></i>
					</a>
				</li>
				{% endif %} {% if site.twitter_username %}
				<li>
					<a class="link icon-only external" target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
						<i class="icon icon-twitter"></i>
					</a>
				</li>
				{% endif %} {% if site.facebook_username %}
				<li>
					<a class="link icon-only external" target="_blank" href="https://facebook.com/{{ site.facebook_username }}">
						<i class="icon icon-facebook"></i>
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
		<div class="content-block">
			<p class="copyright">Copyright &copy; 2016 Bglky. All Rights Reserved. </p>
		</div>
	</div>
</footer>