<footer class="site-footer">
	<div class="wrapper">
		<div class="content-block">
			<ul class="social-media-list">
				{% if site.github_username %}
				<li>
					<a class="link icon-only external" target="_blank" href="https://github.com/{{ site.github_username }}">
						<i class="icon icon-github"></i>
					</a>
				</li>
				{% endif %} {% if site.twitter_username %}
				<li>
					<a class="link icon-only external" target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
						<i class="icon icon-twitter"></i>
					</a>
				</li>
				{% endif %} {% if site.facebook_username %}
				<li>
					<a class="link icon-only external" target="_blank" href="https://facebook.com/{{ site.facebook_username }}">
						<i class="icon icon-facebook"></i>
					</a>
				</li>
				{% endif %} {% if site.zhihu_username %}
				<li>
					<a class="link icon-only external" target="_blank" href="https://zhihu.com/people/{{ site.zhihu_username }}">
						<i class="icon icon-zhihu"></i>
					</a>
				</li>
				{% endif %} {% if site.sina_username %}
				<li>
					<a class="link icon-only external" target="_blank" href="https://weibo.com/{{ site.sina_username }}">
						<i class="icon icon-sina"></i>
					</a>
				</li>
				{% endif %} {% if site.segmentfault_username %}
				<li>
					<a class="link icon-only external" target="_blank" href="https://segmentfault.com/u/{{ site.segmentfault_username }}">
						<i class="icon icon-segmentfault"></i>
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
		<div class="content-block">
			<p class="copyright">
				Copyright &copy; 2016 Bglky
				<br> Theme by <a class="external" target="_blank" href="http://bglky.me">Bglky</a> |
				<iframe style="margin-left: 2px; margin-bottom:-5px;" frameborder="0" scrolling="0" width="91px" height="20px" src="https://ghbtns.com/github-btn.html?user=bglky&repo=bglky.github.io&type=star&count=true">
				</iframe>
			</p>
		</div>
	</div>
</footer>