<head>
	<meta charset="utf-8">
	<!--IE=edge使IE启用其所支持的最新的引擎渲染网页，chrome=1激活Chrome Frame.-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- 可以让部分国产浏览器（目前只有360浏览器）启用高速模式渲染页面 -->
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Color theme for statusbar -->
	<meta name="theme-color" content="#2196f3">
	<meta name="author" content="周炳光,bglky">
	<meta name="copyright" content="周炳光,bglky">
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{% if page.description %} {{ page.description }} {% else %} {{ site.description }} {% endif %} {% endif %}">
	<!-- My Google Search Console -->
	<meta name="google-site-verification" content="qcNatfyfm9XNpGn-RdTi78hl4nFoFRjfQeG91b-vWnY" />
	<!-- baidu -->
	<meta name="baidu-site-verification" content="0iLwzUO3qt" />
	<!-- 360 -->
	<meta name="360-site-verification" content="3dbe924a9a58b1fbf328fdf13eb74b67" />
	<!-- sogou -->
	<meta name="sogou_site_verification" content="ehuZ97HWes"/>
	
	{% if site.disqus_username %}
	<meta name="disqus_username" content="{{ site.disqus_username }}">
	{% endif %}
	{% if site.duoshuo_username %}
	<meta name="duoshuo_username" content="{{ site.duoshuo_username }}">
	{% endif %}
	{% if site.ba_track_id %}
	<meta name="ba_track_id" content="{{ site.ba_track_id }}">
	{% endif %}	
	<link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">
	<title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

	<!-- Path to Framework7 Library CSS, Material Theme -->
	<link rel="stylesheet" href="{{ "/css/framework7.material.custom.min.css" | prepend: site.baseurl }}">
	<!-- Path to your custom web app styles-->
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
	
</head>