/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Wrapper
 */
.wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;
    @include media-query($on-pad) {
        width: 768px;
    }
    @include media-query($on-PC) {
        width: 992px;
    }    
    .main-panel{       
        width:100%;
        margin-left: auto;
        margin-right: auto;
        @include media-query($on-pad) {
            width: 100%;
        }
        @include media-query($on-PC) {
            float: left;
            width: 75%;
        }
    }
    .side-panel{       
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include media-query($on-pad) {
            width: 100%;
        }
        @include media-query($on-PC) {
            float: right;
            width: 25%;
        }
    }
}
.no-side-panel{
    .wrapper {        
        @include media-query($on-PC) {
            width: 768px;
        }    
        .main-panel{ 
            @include media-query($on-PC) {
                float: none;
                width: 100%;
            }
        }
        .side-panel{       
            display: none;
        }
    }
}

/**
 * Site nav
*/
.site-nav {
    .center{
        margin-left: 0;
    }
    a.link{
        &.site-title {
            font-size: 26px;
            font-weight: bold;
        }
        &.menu-icon {}
        &.page-link {
            display: none;       
        }    
        @include media-query($on-pad) {        
            &.menu-icon {
                display: none;
            }       
            &.page-link {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
            }
        }
    }
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/**
 * Site header
 */
.site-header {
    margin-top: -56px;
    padding-top: 56px;
    background: #2196f3;
    color: #fff;
    .content-block{    
        margin: 48px 0; 
        @include media-query($on-pad) {
            margin: 56px 0;
        }
        @include media-query($on-PC) {
            margin: 64px 0;
        }
    }
    .site-title,.page-title,.post-title{
        //margin-bottom: 5px;
        font-weight: bold;        
        @include media-query($on-pad) {
            //margin-bottom: 10px;
        }
        @include media-query($on-PC) {
            //margin-bottom: 15px;
        }
        &:after{
            content: "¬";
            opacity: 0.4;
        }
    }
    .site-title{
        text-align: center;                
        font-size: 48px;
        @include media-query($on-pad) {
            font-size: 56px;
        }
        @include media-query($on-PC) {
            font-size: 64px;
        }
    }
    .page-title{
        text-align: center;               
        font-size: 40px;
        @include media-query($on-pad) {
            font-size: 48px;
        }
        @include media-query($on-PC) {
            font-size: 56px;
        }
    }
    .post-title{        
        letter-spacing: -1px;                
        font-size: 32px;
        @include media-query($on-pad) {
            font-size: 36px;
        }
        @include media-query($on-PC) {
            font-size: 40px;
        }
    }
    .site-description{
        text-align: center;
        font-size: 18px;
    }
    .page-description{
        text-align: center;
        font-size: 18px;
    }
    .post-subtitle{ 
        //letter-spacing: -1px;       
    }
    .post-meta{
        text-align: right;
        font-size: 18px;
        font-style: italic;
        //opacity: 0.8;
    }
    .chip{       
        background-color: #2196f3;
        border: 1px solid #fff;
        opacity: 1.0;
        .chip-label {
            color: #fff;            
        }
    }    
}

/**
 * Site footer
 */
.site-footer {   
    .copyright{
        text-align: center;
        color: #666;
    }
}
.social-media-list {       
    margin-left: 0;
    list-style: none;
    text-align: center;
    vertical-align: middle;
    >li{
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;vertical-align: middle;
        >a{
            background-color: #2196F3;
            text-decoration: none;
            position: relative;            
            box-sizing: border-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            width:40px;
            height: 40px;
            border-radius: 50%;
        }  
    }
}

/**
  * Panel left
*/
.socials{
    .avatar{
        display: inline-block;
        width: 100%;
        border-radius: 5px;
    }
    .introduction{
        padding-top: 5px;
        font-size: 14px;
        color: #666;
    }
    .social-media-list{
        >li{
            padding-left: 3px;
            padding-right: 3px;
            >a{
                width: 34px;
                height: 34px;
            }
        }
        >li:first-child{
            padding-left: 0;
        }
        >li:last-child{
            padding-right: 0;
        }
    }
    i.icon-github,i.icon-twitter {
        width: 20px;
        height: 20px;
    }
    i.icon-facebook{
        width: 11px;
        height: 20px;
    }
    i.icon-zhihu{
        width: 17px;
        height: 20px;
    }
    i.icon-sina{
        width: 20px;
        height: 16px;
    }
    i.icon-segmentfault{
        width: 24px;
        height: 24px;
    }
}

/**
     * Panel side
 */
.side-panel{
    .content-block-title{
        font-weight: bold;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        >li{
            display: inline-block;
            &.friend-link{
                margin: 0 10px 0 0;
                &:last-child{
                    margin-right: 0;
                }
            }                      
        }
    }       
    .socials-title{
        display: none;
        @include media-query($on-PC) {
            display: block;
        }
    }
    .socials{
        display: none;
        .social-media-list{
            text-align: left;
        }
        @include media-query($on-PC) {
            display: block;
        }
    }
    
}
.chip{
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    padding: 0 12px;
    font-size: 12px;
    border: 1px solid #2196F3;
    background-color: #fff;    
    opacity: 0.8;
    .chip-label {
        color: #2196F3;
    }
}

/**
     * Index
 */
.post-list {
    margin-left: 0;
    list-style: none;    
    word-break: break-word;
    //text-align: justify;
    .card{
        margin: 0 0 15px 0;
        h2{
            margin-bottom: 0;
        }
        .post-content-preview{
            font-size: 16px;
            word-break: break-all;
        }
        .post-meta{
            font-size: 14px;
        }
    }
}
/**
     * Pager
 */
.pager{
    margin-left: 0;
    list-style: none;
    @extend %clearfix;
    >li{
        //border: 1px solid #2196f3;
        &.previous{
            float: left;
        }
        &.next{
            float: right;
        }
        a{
            display: inline-block;
            padding: 10px 0px;
        }
    }
}

/**
     * Tags
 */
.tag-list{
    margin: 0;
    padding: 0;
    list-style: none;
    a{
        color: #fff;
    }
    >li{
        margin: 10px auto 15px;
        padding: 20px;
        //background-color: #4a148c;
        //background-color: #00bfa5;
        background-color: #0075d2;
        color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        >ul{
            list-style: disc;
            >li{
                padding: 5px 0;
                >a{
                    color: #fff;
                }
            }
        }
    }
}




/**
 * Page content

.page-content {
    padding: $spacing-unit 0;
}
 */


/**
 * Posts

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-pad) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-pad) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-pad) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-pad) {
            font-size: 18px;
        }
    }
}
 */




/**
     * icon
 */

i.icon-letter{
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: #2196f3;
    color: #fff;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
}
i.icon-github {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20viewBox%3D'0%200%2016%2016'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M7.999%2C0.431c-4.285%2C0-7.76%2C3.474-7.76%2C7.761%20c0%2C3.428%2C2.223%2C6.337%2C5.307%2C7.363c0.388%2C0.071%2C0.53-0.168%2C0.53-0.374c0-0.184-0.007-0.672-0.01-1.32%20c-2.159%2C0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481%2C0.053-0.472%2C0.053-0.472%20c0.779%2C0.055%2C1.189%2C0.8%2C1.189%2C0.8c0.692%2C1.186%2C1.816%2C0.843%2C2.258%2C0.645c0.071-0.502%2C0.271-0.843%2C0.493-1.037%20C4.86%2C11.425%2C3.049%2C10.76%2C3.049%2C7.786c0-0.847%2C0.302-1.54%2C0.799-2.082C3.768%2C5.507%2C3.501%2C4.718%2C3.924%2C3.65%20c0%2C0%2C0.652-0.209%2C2.134%2C0.796C6.677%2C4.273%2C7.34%2C4.187%2C8%2C4.184c0.659%2C0.003%2C1.323%2C0.089%2C1.943%2C0.261%20c1.482-1.004%2C2.132-0.796%2C2.132-0.796c0.423%2C1.068%2C0.157%2C1.857%2C0.077%2C2.054c0.497%2C0.542%2C0.798%2C1.235%2C0.798%2C2.082%20c0%2C2.981-1.814%2C3.637-3.543%2C3.829c0.279%2C0.24%2C0.527%2C0.713%2C0.527%2C1.437c0%2C1.037-0.01%2C1.874-0.01%2C2.129%20c0%2C0.208%2C0.14%2C0.449%2C0.534%2C0.373c3.081-1.028%2C5.302-3.935%2C5.302-7.362C15.76%2C3.906%2C12.285%2C0.431%2C7.999%2C0.431z'%2F%3E%3C%2Fsvg%3E");
}
i.icon-twitter {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20viewBox%3D'0%200%2016%2016'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M15.969%2C3.058c-0.586%2C0.26-1.217%2C0.436-1.878%2C0.515c0.675-0.405%2C1.194-1.045%2C1.438-1.809c-0.632%2C0.375-1.332%2C0.647-2.076%2C0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806%2C0-3.27%2C1.464-3.27%2C3.27%20c0%2C0.256%2C0.029%2C0.506%2C0.085%2C0.745C5.163%2C5.404%2C2.753%2C4.102%2C1.14%2C2.124C0.859%2C2.607%2C0.698%2C3.168%2C0.698%2C3.767%20c0%2C1.134%2C0.577%2C2.135%2C1.455%2C2.722C1.616%2C6.472%2C1.112%2C6.325%2C0.671%2C6.08c0%2C0.014%2C0%2C0.027%2C0%2C0.041c0%2C1.584%2C1.127%2C2.906%2C2.623%2C3.206%20C3.02%2C9.402%2C2.731%2C9.442%2C2.433%2C9.442c-0.211%2C0-0.416-0.021-0.615-0.059c0.416%2C1.299%2C1.624%2C2.245%2C3.055%2C2.271%20c-1.119%2C0.877-2.529%2C1.4-4.061%2C1.4c-0.264%2C0-0.524-0.015-0.78-0.046c1.447%2C0.928%2C3.166%2C1.469%2C5.013%2C1.469%20c6.015%2C0%2C9.304-4.983%2C9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976%2C4.29%2C15.531%2C3.714%2C15.969%2C3.058z'%2F%3E%3C%2Fsvg%3E");
}
i.icon-facebook {
    width: 13px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'xMidYMid'%20viewBox%3D'0%200%2018%2033'%3E%3Cpath%20d%3D'M14.000%2C6.000%20L17.986%2C5.871%20L18.000%2C0.000%20L13.000%2C0.000%20C6.681%2C0.056%205.000%2C3.428%205.000%2C8.000%20L5.000%2C11.000%20L-0.000%2C11.000%20L-0.000%2C17.000%20L5.000%2C17.000%20L5.000%2C33.000%20L12.000%2C33.000%20L12.000%2C17.000%20L18.000%2C17.000%20L17.986%2C11.034%20L12.000%2C11.000%20L12.000%2C8.000%20C12.000%2C6.905%2011.764%2C6.113%2014.000%2C6.000%20Z'%2F%3E%3C%2Fsvg%3E");
}
i.icon-zhihu {
    width: 21px;
    height: 23px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'xMidYMid'%20viewBox%3D'0%200%2031%2033'%3E%3Cpath%20d%3D'M26.000%2C28.000%20L21.000%2C33.000%20L21.000%2C28.000%20L18.000%2C28.000%20L18.000%2C5.000%20L30.990%2C5.169%20L31.000%2C5.000%20L31.000%2C28.000%20L26.000%2C28.000%20ZM28.000%2C8.000%20L21.000%2C8.000%20L21.000%2C25.966%20L22.000%2C26.000%20L22.000%2C28.000%20L25.853%2C25.948%20L28.000%2C26.000%20L28.000%2C8.000%20ZM11.000%2C18.000%20C9.958%2C18.010%209.924%2C17.781%209.877%2C18.905%20C9.847%2C19.620%209.626%2C20.326%209.491%2C21.036%20L8.605%2C23.885%20C7.887%2C25.758%207.075%2C27.578%205.750%2C29.136%20C4.436%2C30.679%202.647%2C30.894%200.797%2C30.959%20C0.509%2C30.969%200.110%2C31.015%200.007%2C30.637%20C-0.089%2C30.282%200.260%2C30.097%200.487%2C29.914%20C2.436%2C28.338%203.808%2C27.190%205.000%2C25.000%20C5.966%2C23.226%206.684%2C21.996%207.000%2C20.000%20C7.135%2C19.145%206.814%2C17.977%206.000%2C18.000%20C4.488%2C18.043%201.513%2C17.985%20-0.000%2C18.000%20C-0.049%2C17.995%200.134%2C17.516%200.291%2C17.016%20C0.615%2C15.926%201.373%2C15.036%202.222%2C15.052%20C3.541%2C15.076%203.682%2C14.958%205.000%2C15.000%20C5.835%2C15.027%207.009%2C14.868%207.000%2C14.000%20C6.980%2C12.040%206.945%2C9.959%207.000%2C8.000%20C7.016%2C7.438%207.394%2C7.207%206.862%2C7.163%20C5.133%2C7.022%204.963%2C7.101%204.145%2C8.683%20C3.477%2C9.972%202.099%2C10.703%200.704%2C11.049%20C-0.049%2C11.236%200.028%2C11.210%200.124%2C10.983%20C1.228%2C8.390%202.427%2C5.083%203.473%2C2.478%20C3.903%2C1.408%205.723%2C0.627%206.776%2C0.026%20C6.776%2C0.026%207.022%2C-0.152%206.781%2C0.596%20C6.522%2C1.402%206.178%2C2.867%205.891%2C3.662%20C5.590%2C4.493%205.740%2C4.923%206.589%2C4.916%20C9.111%2C4.895%2011.772%2C4.916%2014.295%2C4.916%20C14.890%2C4.916%2015.396%2C4.816%2015.769%2C5.446%20C16.982%2C7.492%2016.707%2C7.146%2015.527%2C7.165%20C14.518%2C7.181%2013.008%2C7.034%2012.000%2C7.000%20C11.237%2C6.974%2010.159%2C7.390%2010.124%2C8.197%20C10.030%2C10.385%209.970%2C11.999%2010.000%2C14.000%20C10.011%2C14.711%2011.496%2C15.001%2012.000%2C15.000%20C13.319%2C14.998%2013.489%2C15.029%2014.808%2C15.052%20C15.885%2C15.070%2016.624%2C15.943%2017.000%2C17.000%20C17.027%2C17.334%2017.269%2C17.909%2017.000%2C18.000%20C15.623%2C17.986%2012.358%2C17.987%2011.000%2C18.000%20ZM15.000%2C26.000%20C15.393%2C26.583%2015.444%2C27.623%2015.000%2C29.000%20C14.912%2C29.274%2014.377%2C29.137%2013.798%2C28.477%20C12.399%2C26.881%2011.116%2C25.189%209.763%2C23.555%20C9.385%2C23.098%209.158%2C22.839%208.985%2C22.786%20L11.000%2C21.000%20C11.922%2C22.089%2014.080%2C24.910%2015.000%2C26.000%20Z'%2F%3E%3C%2Fsvg%3E");
}
i.icon-sina {
    width: 24px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'xMidYMid'%20viewBox%3D'0%200%2037%2030'%3E%3Cpath%20d%3D'M36.539%2C12.806%20C36.539%2C12.808%2036.539%2C12.810%2036.539%2C12.812%20C36.297%2C13.556%2035.498%2C13.964%2034.754%2C13.723%20C34.008%2C13.482%2033.600%2C12.683%2033.841%2C11.937%20L33.840%2C11.937%20C34.580%2C9.646%2034.111%2C7.033%2032.384%2C5.117%20C30.656%2C3.201%2028.108%2C2.470%2025.753%2C2.970%20C24.987%2C3.133%2024.234%2C2.644%2024.071%2C1.878%20C23.907%2C1.114%2024.395%2C0.360%2025.161%2C0.195%20L25.162%2C0.195%20C28.472%2C-0.509%2032.058%2C0.519%2034.489%2C3.217%20C36.921%2C5.911%2037.577%2C9.584%2036.539%2C12.806%20ZM26.721%2C7.506%20L26.721%2C7.505%20C26.064%2C7.648%2025.415%2C7.226%2025.274%2C6.568%20C25.133%2C5.908%2025.553%2C5.259%2026.212%2C5.119%20C27.825%2C4.775%2029.572%2C5.274%2030.756%2C6.588%20C31.941%2C7.901%2032.259%2C9.690%2031.752%2C11.260%20C31.545%2C11.902%2030.857%2C12.252%2030.216%2C12.047%20C29.574%2C11.839%2029.224%2C11.150%2029.431%2C10.509%20L29.429%2C10.509%20C29.678%2C9.741%2029.522%2C8.866%2028.943%2C8.224%20C28.365%2C7.583%2027.510%2C7.340%2026.721%2C7.506%20ZM27.210%2C9.790%20C27.851%2C10.706%2027.789%2C11.990%2027.198%2C13.478%20C26.925%2C14.163%2027.283%2C14.269%2027.804%2C14.426%20C29.927%2C15.084%2032.291%2C16.678%2032.291%2C19.485%20C32.291%2C24.132%2025.594%2C29.985%2015.526%2C29.985%20C7.847%2C29.985%20-0.003%2C26.261%20-0.003%2C20.135%20C-0.003%2C16.933%202.025%2C13.230%205.516%2C9.736%20C10.179%2C5.072%2015.616%2C2.947%2017.661%2C4.994%20C18.563%2C5.896%2018.650%2C7.458%2018.070%2C9.323%20C17.768%2C10.262%2018.951%2C9.742%2018.951%2C9.744%20C22.720%2C8.165%2026.008%2C8.072%2027.210%2C9.790%20ZM25.923%2C19.401%20C25.526%2C15.377%2020.236%2C12.605%2014.107%2C13.211%20C7.980%2C13.818%203.333%2C17.572%203.731%2C21.597%20C4.129%2C25.623%209.419%2C28.394%2015.547%2C27.789%20C21.676%2C27.183%2026.320%2C23.428%2025.923%2C19.401%20ZM11.584%2C26.060%20C8.638%2C25.108%207.391%2C22.198%208.681%2C19.576%20C9.948%2C17.005%2013.243%2C15.551%2016.159%2C16.310%20C19.177%2C17.090%2020.717%2C19.939%2019.484%2C22.705%20C18.233%2C25.536%2014.636%2C27.045%2011.584%2C26.060%20ZM13.248%2C20.549%20C12.299%2C20.151%2011.073%2C20.560%2010.487%2C21.479%20C9.894%2C22.402%2010.173%2C23.501%2011.115%2C23.930%20C12.071%2C24.367%2013.340%2C23.952%2013.933%2C23.006%20C14.515%2C22.050%2014.208%2C20.958%2013.248%2C20.549%20ZM15.587%2C19.579%20C15.223%2C19.434%2014.768%2C19.609%2014.554%2C19.968%20C14.347%2C20.328%2014.461%2C20.738%2014.826%2C20.888%20C15.197%2C21.041%2015.671%2C20.865%2015.885%2C20.498%20C16.090%2C20.129%2015.957%2C19.714%2015.587%2C19.579%20Z'%2F%3E%3C%2Fsvg%3E");
}
i.icon-share {
    width: 26px;
    height: 26px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20viewBox%3D'0%200%20200%20200'%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cg%20class%3D'transform-group'%3E%3Cg%20transform%3D'scale(0.1953125%2C%200.1953125)'%3E%3Cpath%20d%3D'M778.602987%20653.725862c-43.735084%200-82.508155%2020.923542-107.114576%2053.234435l-283.026028-168.531368c3.213181-12.398378%205.100158-25.314549%205.100158-38.715767%200-3.89061-0.302899-7.686053-0.573051-11.494799l283.161105-170.612773c24.713868%2028.935006%2061.412698%2047.344285%20102.452393%2047.344285%2074.43427%200%20134.771473-60.338227%20134.771473-134.76738%200-74.42506-60.338227-134.763286-134.771473-134.763286-74.424037%200-134.759193%2060.334133-134.759193%20134.763286%200%2014.767332%202.445702%2028.916587%206.837732%2042.222637L369.926214%20417.98579c-27.26497-43.37795-75.391061-72.290443-130.376373-72.290443-85.053118%200-154.017816%2068.959581-154.017816%20154.017816s68.963675%20154.012699%20154.017816%20154.012699c45.589314%200%2086.426395-19.925818%20114.624621-51.3976L648.347364%20754.476497c-2.829442%2010.872628-4.490268%2022.23235-4.490268%2034.012651%200%2074.43427%2060.34232%20134.76738%20134.76738%20134.76738%2074.429153%200%20134.763286-60.33311%20134.763286-134.76738C913.388786%20714.059995%20853.037257%20653.725862%20778.602987%20653.725862L778.602987%20653.725862%20778.602987%20653.725862zM778.602987%20653.725862'%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
i.icon-segmentfault {
    width: 28px;
    height: 28px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20viewBox%3D'0%200%20256%20256'%20version%3D'1.1'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20xmlns%3Asketch%3D'http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns'%3E%3Cpath%20d%3D'M38.36%2C198.92%20L38.36%2C201.8%20C51.08%2C211.4%2064.52%2C215.96%2081.32%2C215.96%20C107.72%2C215.96%20127.64%2C204.92%20127.64%2C179.48%20C127.64%2C160.04%20116.6%2C152.36%2098.36%2C145.4%20C85.16%2C140.36%2074.6%2C138.44%2074.6%2C129.32%20C74.6%2C122.36%2080.12%2C118.76%2089%2C118.76%20C99.08%2C118.76%20108.2%2C122.12%20114.92%2C127.16%20L124.52%2C108.2%20L124.52%2C105.32%20C114.2%2C98.6%2099.8%2C95.48%2086.36%2C95.48%20C61.64%2C95.48%2041.72%2C106.04%2041.72%2C130.76%20C41.72%2C149.72%2054.2%2C157.64%2069.08%2C164.12%20C82.28%2C169.88%2094.04%2C171.56%2094.04%2C181.64%20C94.04%2C190.76%2085.4%2C194.12%2077.72%2C194.12%20C67.16%2C194.12%2056.12%2C187.88%2048.44%2C180.92%20C48.44%2C180.92%2056.12%2C187.88%2048.44%2C180.92%20L38.36%2C198.92%20Z%20M188.12%2C212.84%20C188.12%2C210.44%20188.12%2C145.16%20187.64%2C122.6%20C194.84%2C122.84%20208.52%2C122.84%20210.44%2C122.84%20L210.68%2C98.6%20C208.76%2C98.6%20195.08%2C98.6%20187.88%2C98.84%20C187.88%2C97.88%20187.64%2C85.16%20187.64%2C80.84%20C187.64%2C68.12%20191.96%2C64.76%20198.68%2C64.76%20C202.52%2C64.76%20206.84%2C65.96%20210.68%2C68.12%20L217.64%2C48.92%20L217.64%2C45.32%20C208.52%2C41.48%20199.4%2C40.04%20190.52%2C40.04%20C169.88%2C40.04%20154.04%2C50.12%20154.04%2C77.24%20C154.04%2C77.96%20154.52%2C97.88%20154.52%2C98.84%20C148.28%2C98.6%20141.8%2C98.6%20139.88%2C98.6%20L139.64%2C122.84%20C141.56%2C122.84%20148.28%2C122.84%20154.76%2C122.6%20C154.52%2C145.16%20154.04%2C210.44%20154.04%2C212.84%20C154.04%2C212.84%20154.04%2C210.44%20154.04%2C212.84%20L188.12%2C212.84%20Z'%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}


i.icon-Gplus {
    width: 23px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20preserveAspectRatio%3D'xMidYMid'%20viewBox%3D'0%200%2030%2030.84'%3E%3Cpath%20d%3D'M26.000%2C5.590%20L26.000%2C9.590%20L25.000%2C9.590%20L25.000%2C5.590%20L21.000%2C5.590%20L21.000%2C4.590%20L25.000%2C4.590%20L25.000%2C0.590%20L26.000%2C0.590%20L26.000%2C4.590%20L30.000%2C4.590%20L30.000%2C5.590%20L26.000%2C5.590%20ZM15.227%2C2.091%20C16.920%2C3.056%2017.818%2C5.041%2017.818%2C7.235%20C17.818%2C9.247%2016.700%2C10.868%2015.121%2C12.096%20C13.578%2C13.299%2013.287%2C13.799%2013.287%2C14.821%20C13.287%2C15.691%2015.128%2C16.988%2015.976%2C17.621%20C18.924%2C19.825%2019.480%2C21.212%2019.522%2C23.967%20C19.577%2C27.630%2015.802%2C30.825%209.754%2C30.825%20C4.447%2C30.825%20-0.000%2C28.419%20-0.000%2C24.978%20C-0.000%2C19.784%203.683%2C18.107%208.990%2C18.107%20C9.568%2C18.107%2010.098%2C18.092%2010.647%2C18.092%20C9.920%2C17.391%209.334%2C16.784%209.334%2C15.722%20C9.334%2C15.088%209.534%2C14.485%209.818%2C13.947%20C9.531%2C13.965%209.236%2C13.984%208.933%2C13.984%20C4.574%2C13.984%202.036%2C10.932%202.036%2C7.107%20C2.036%2C3.361%205.899%2C0.004%2010.533%2C0.004%20C12.922%2C0.004%2019.666%2C0.004%2019.666%2C0.004%20L17.625%2C2.091%20L15.227%2C2.091%20ZM10.000%2C20.590%20C6.622%2C20.590%203.712%2C21.788%203.712%2C24.168%20C3.712%2C26.594%206.553%2C28.590%2010.000%2C28.590%20C14.847%2C28.590%2016.185%2C26.719%2016.185%2C24.290%20C16.185%2C23.997%2016.177%2C23.702%2016.075%2C23.434%20C14.905%2C20.523%2011.256%2C20.590%2010.000%2C20.590%20ZM13.975%2C7.606%20C13.573%2C4.565%2012.052%2C2.277%209.716%2C2.206%20C7.381%2C2.138%205.333%2C4.259%205.739%2C7.300%20C6.141%2C10.345%208.362%2C12.384%2010.699%2C12.456%20C13.034%2C12.523%2014.377%2C10.651%2013.975%2C7.606%20Z'%2F%3E%3C%2Fsvg%3E");
}
i.icon-linkedin {
    width: 20px;
    height: 22px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23fff'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%20viewBox%3D'0%200%2028%2031'%3E%3Cpath%20d%3D'M0.735%2C30.985%20L6.680%2C30.985%20L7.000%2C9.000%20L1.000%2C9.000%20L0.735%2C30.985%20ZM24.000%2C11.000%20C21.748%2C9.738%2018.396%2C9.908%2016.000%2C11.000%20L16.000%2C9.000%20L10.000%2C9.000%20L9.901%2C30.985%20L15.879%2C30.985%20L16.000%2C17.000%20L18.374%2C16.256%20C18.986%2C15.962%2020.327%2C15.989%2020.894%2C16.308%20C21.322%2C16.547%2022.040%2C17.638%2022.040%2C18.244%20L22.000%2C31.000%20L27.985%2C30.985%20L27.985%2C17.995%20C27.985%2C15.216%2026.394%2C12.339%2024.000%2C11.000%20ZM3.775%2C0.007%20C1.683%2C0.007%20-0.009%2C1.699%20-0.009%2C3.786%20C-0.009%2C5.872%201.683%2C7.563%203.775%2C7.563%20C5.867%2C7.563%207.557%2C5.872%207.557%2C3.786%20C7.557%2C1.699%205.867%2C0.007%203.775%2C0.007%20Z'%2F%3E%3C%2Fsvg%3E");
}
i.ks-icon-upload {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg fill='#FFFFFF' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h24v24H0z' fill='none'/><path d='M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z'/></svg>");
}

//framework7 progressbar
.color-yellow {
    color: #ffeb3b;
}
.progressbar.color-yellow,.progressbar-infinite.color-yellow {
    background-color: rgba(255, 235, 59, 0.5);
}
.progressbar.color-yellow span,.progressbar-infinite.color-yellow span{
    background-color: #ffeb3b;
}
.progressbar-infinite.color-yellow:before,.progressbar-infinite.color-yellow:after{
    background-color: #ffeb3b;
}
